<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
</head>
<body>
<p>Personal chat</p>
<textarea id="chat-log" cols="100" rows="20"></textarea><br>
<input id="chat-message-input" type="text" size="100"><br>
<input id="chat-message-submit" type="button" value="Send">
<br/>
<br/>
<br/>
<br/>
<br/>
<p>Chatroom chat</p>
<button onclick="joinChatroom()">Join chatroom</button>
<textarea id="group-log" cols="100" rows="20"></textarea><br>
<input id="group-message-input" type="text" size="100"><br>
<input id="group-message-submit" type="button" value="Send">
<script>
    const CHATROOM = "group_chat_1"
    const HOST = window.location.host;
    const chatSocket = new WebSocket(`ws://${HOST}/`);

    chatSocket.onclose = function (e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-log').value = "";
    document.querySelector('#group-log').value = "";

    chatSocket.onmessage = function (e) {
        const data = JSON.parse(e.data);
        if (data.type === "message") {
            document.querySelector('#chat-log').value += (data.sender + ": " + data.message + '\n');
        } else {
            document.querySelector('#group-log').value += (data.sender + ": " + data.message + '\n');
        }
    };

    document.querySelector('#chat-message-submit').onclick = function (e) {
        const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'message': message,
            'type': "chat_message",
            'receiver': 1,
        }));
        messageInputDom.value = '';
    };

    document.querySelector('#group-message-submit').onclick = function (e) {
        const messageInputDom = document.querySelector('#group-message-input');
        const message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'message': message,
            'type': "chatroom_message",
            'chatroom': CHATROOM,
        }));
        messageInputDom.value = '';
    };

    function joinChatroom() {
        chatSocket.send(JSON.stringify({
            'type': "join_chatroom",
            'chatroom': CHATROOM,
        }));
    }
</script>
</body>
</html>
